.main1 {
		
    width: 78vw;
    float: right;
    height: auto;
    margin: auto;   
    position: relative;   	
    top: 4vh;
    font-family: 'Oswald', sans-serif
}

.main2 {
    width: 40vw;    
  
    height: auto;
    margin: auto;    
    background: linear-gradient(rgba(207, 0, 15, 1),rgba(0,0,0,0.5));
    color: white;
    padding: 0.5vw
}
.main_spain {
    width: 40vw;
    height: auto;
    margin: auto;    
    background: linear-gradient(rgba(0,0,0,0.5), rgba(247, 202, 24, 1));
    color: white;
    padding: 0.5vw
}

.flag {
    width: 5vw;
    height: 3vw;
    position: relative;
    bottom: 0.5vw
}

.pt {
    font-size: 1vw
}

table {
    color: white;
}

.logo {
    width: 2vw;
    height: 2vw;
    float: left;
    margin-left: 2.1vw;
}

td {
    text-align: center;
     font-size: 1vw
}

.name {
    text-align: center; 
   vertical-align:middle;   
    min-width:20vw;
}

thead {
    background-color: red;
    border-bottom: 2px solid red
}

.top {
    background-color: rgba(0, 255, 0, 0.5)
}

.top .logo {
    animation-name: four;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

@keyframes four {
    0% {
        position: relative;
        right: 2vw
    }
	25%{
        position: relative;
        right:  0vw
    }
    50%{
        position: relative;
        right:  -2vw
    }
    75%{
        position: relative;
        right:  -0vw
    }        

    100% {
        position: relative;
        right: 2vw
    }
}

@media only screen and (max-width:600px) {
 

    .name {
        font-size: 1vw
    }

    .logo {
        height: 3vw;
        width: 3vw
    }
h2{font-size:1vw;}
 

    .flag {
        width: 3vw;
        height: 3vw;
        position: relative;
        bottom: 1vw
    }

    .pt {
        font-size: 2vw
    }
}
